table{
  border-spacing: 0px;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: white;
  box-sizing: border-box;
}

thead {
  height: 100%;
  position: sticky;
  top: 0;
  background-color: #0AB4D1;
  color: white;
}

tbody {
  display: block;
  height: 100%;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  transition: all 0.5s ease;
}

th:hover {
  cursor: pointer;
  background-color: #1e9fb6;
  transition: all 0.5s ease;
}

tr th {
  font-size: 12px;
}

th, td {
  width: auto;
  text-align: left;
}

th:first-child,
td:first-child {
  width: 5%;
  padding: 8px;
  text-align: center;
}



th:nth-last-child(2),
td:nth-last-child(2),
th:last-child,
td:last-child {
  width: 6%;
  padding: 8px;
  text-align: center;
}

tbody tr:hover {
  background-color: rgba(10, 180, 209, 0.09);
  transition: all 0.3s ease;
}

td {
  font-size: 12px;
  padding-left: 12px;
}

.btn-editar, .btn-eliminar, .btn-ver-detalle {
  border: none;
  background-color: white;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border: 1px solid #0AB4D1;
}

.btn-ver-detalle:hover {
  background-color: var(--color-principal-1);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-editar:hover {
  background-color: rgba(30, 144, 255, 0.7);
  border: 1px solid dodgerblue;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: rgba(178, 34, 34, 0.7);
  border: 1px solid firebrick;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-option-table{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 4px;
}

.btn-option-table i {
  font-size: 16px;
}

.spinner {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
