article {
  height: 100%;
  box-sizing: border-box;
}

.modal-registro {
  width: 100%;
  height: calc(100vh - 74px);
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(34, 34, 34, 0.3);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 24px;
}

header {
  padding: 12px 24px 0 12px;
}

main {
  margin-top: 12px;
  padding: 12px 24px;
}

.bg-container-body {
  width: auto;
  max-height: 30rem;
  overflow: hidden;
}

.container-body {
  width: auto;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid rgba(10, 180, 209, 0.3);
}

.container-body::-webkit-scrollbar {
  width: 8px;
}

.container-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-body::-webkit-scrollbar-thumb {
  background-color: rgba(10, 180, 209);
  border-radius: 4px;
}

.container-body::-webkit-scrollbar-thumb {
  background-color: #1092a8;
}

.paginacion {
  margin-top: 0.8rem;
}
